/Tecmis-group01/javaTecmis/build/
/Tecmis-group01/javaTecmis/nbproject/private/
Tecmis-group01/javaTecmis/nbproject/private/private.properties
Tecmis-group01/javaTecmis/nbproject/private/private.xml
Tecmis-group01/javaTecmis/nbproject/private/private.properties
Tecmis-group01/javaTecmis/nbproject/private/private.xml

Tecmis-group01/javaTecmis/nbproject/private/private.properties
Tecmis-group01/javaTecmis/nbproject/private/private.properties
Tecmis-group01/javaTecmis/nbproject/private/private.properties
Tecmis-group01/javaTecmis/nbproject/private/private.properties
*.properties
Tecmis-group01/javaTecmis/nbproject/private/private.properties
/Tecmis-group01/javaTecmis/dist/
Tecmis-group01/javaTecmis/nbproject/private/private.xml
